<p>
Wir nehmen Ihre Privatsphäre ernst, und meinen das — anders als manch anderer Anbieter — auch so. Wir verzichten explizit auf jegliches Tracking. Der Formalität und Transparenz halber heißt das im Detail:
</p>
<h2>
Erhobene Daten
</h2>
<p>
Im Rahmen der Verwendung dieses Tools werden verschiedene Daten erfasst. Diese sind begrenzt personenbeziehbar:

</p>
<strong>Inhaltsdaten</strong>
<ol>
    <li>Adresse des Startorts für das Routing</li>
    <li>Start- und End-Zeitpunkte für das Routing</li>
</ol>
<strong>Metadaten</strong>
<ol>
    <li>Zeitpunkt des Seitenaufrufs</li>
    <li>Typ & Version des Browsers</li>
</ol>
<p>
 Wir verzichten explizit auf die Speicherung ihrer IP Adresse.
</p>

<h2>
Zweck der Datenerhebung
</h2>
<p>
Die erhobenen Inhaltsdaten werden für die Kernfunktionalität des Angebots benötigt.
Eine temporäre Speicherung dient der Qualitätssicherung des Angebots.
</p>
<h2>
Weitergabe der Daten
</h2>
<p>
Durch Nutzung dieses Tools werden die angegeben Daten durch Dienste Dritter verarbeitet:
</p>
<ol>
    <li><a class="text-success" href="https://openrouteservice.org/" target="_blank">OpenRouteService</a> : Geocoding der Adresse in Geokoordinaten</li>
    <li><a class="text-success" href="https://www.mapbox.com/" target="_blank">MapBox</a> : Geocoding der Adresse in Geokoordinaten</li>
</ol>
<h2>
Speicherung der Daten
</h2>
<p>
    Es findet keine dauerhafte Speicherung statt. Temporäre Logdateien werden im Intervall von 10 Tagen gelöscht.
</p>
<h2>
Ihre Rechte
</h2>
<p>
Nach DSGVO haben Sie das Recht auf Löschung und Auskunft der zu Ihrer Person gespeicherten Daten. Nutzen Sie dazu bitte die im <a class="text-success" href="https://www.ecolibro.de/de/Impressum" target="_blank">Impressum</a> genannten Kontaktmöglichkeiten. Bitte beachten Sie, dass wir Ihnen ohne Mitteilung Ihrer Addresse keinen Log-Eintrag zuordnen können.
</p>
<mat-dialog-actions align="end">
    <button class="btn btn-dark" mat-dialog-close>Cancel</button>
</mat-dialog-actions>