.img-wrapper {
    max-width: 125px;
    height: auto;
    // img {
    //     filter: grayscale(100%);
    //     transition: 1s;

    //     &:hover {
    //         filter: grayscale(0);
    //     }
    // }
}

input {
    height: 50px;
    font-size: 20px;
    &::placeholder {
        color: #CBD3DB;
    }
}